<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    
    <!--Login-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <!--Register-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <!--PaymentConn-->
    <servlet>
        <servlet-name>PaymentConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentConnServlet</servlet-name>
        <url-pattern>/PaymentConnServlet</url-pattern>
    </servlet-mapping>
    <!--PaymentServlet-->
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <!--HistoryPaymentServlet-->
    <servlet>
        <servlet-name>HistoryPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.HistoryPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryPaymentServlet</servlet-name>
        <url-pattern>/HistoryPaymentServlet</url-pattern>
    </servlet-mapping>

    <!--Logout-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    
    <!--Edit User-->
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    
    
    <!--Delete User-->
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    
     <!--Access Log-->
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    
    <!--Admin Logout-->
     <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    
    <!--Admin Create Staff-->
     <servlet>
        <servlet-name>AdminCreateStaffServlet</servlet-name>
        <servlet-class>uts.isd.controller.AdminCreateStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCreateStaffServlet</servlet-name>
        <url-pattern>/AdminCreateStaffServlet</url-pattern>
    </servlet-mapping>
    
    
    <!--Staff Conn Servlet-->
    <servlet>
        <servlet-name>StaffConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffConnServlet</servlet-name>
        <url-pattern>/StaffConnServlet</url-pattern>
    </servlet-mapping>
    
        <!--Admin View Servlet-->
    <servlet>
        <servlet-name>StaffViewServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffViewServlet</servlet-name>
        <url-pattern>/StaffViewServlet</url-pattern>
    </servlet-mapping>
    
    <!--Admin View Servlet-->
    <servlet>
        <servlet-name>StaffSearchServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffSearchServlet</servlet-name>
        <url-pattern>/StaffSearchServlet</url-pattern>
    </servlet-mapping>
    
    <!--Admin View Servlet-->
    <servlet>
        <servlet-name>StaffEditServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffEditServlet</servlet-name>
        <url-pattern>/StaffEditServlet</url-pattern>
    </servlet-mapping>
    
    <!--Admin View Servlet-->
    <servlet>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffDeleteServlet</servlet-name>
        <url-pattern>/StaffDeleteServlet</url-pattern>
    </servlet-mapping>
    
    
    <!--Product -->
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.product.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
